<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <!--<servlet>-->
  <!--<servlet-name>DisplayController</servlet-name>-->
  <!--<servlet-class>com.lftechnology.batch7crud.controller.DisplayServletServlet</servlet-class>-->
  <!--</servlet>-->
  <resource-ref>
    <description>none
    </description>
    <res-ref-name>
      jdbc/formdb
    </res-ref-name>
    <res-type>
      javax.sql.DataSource
    </res-type>
    <res-auth>
      Container
    </res-auth>
  </resource-ref>

  <filter>
    <filter-name>UserFilter</filter-name>
    <filter-class>com.lftechnology.batch7crud.filter.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>loginActionURI</param-name>
      <param-value>/ems/login</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
