.main-wrapper {
  margin: 0 auto;
  width: 100%;
  background-color: #ECF0F5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.header-wrapper {
  background-color: #605CA8;
  width: 100%;
}

.header-container {
  padding: 20px 20px;
}

.header {
  margin: 0 auto;
  max-width: 1170px;
}

.header-title {
  float: left;
}

.header-title h1 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.user-info {
  float: right;
}

.user-info h2 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.user-menu ul li {
  float: left;
  padding-left: 10px;
}

.user-menu ul li:first-child {
  border-right: solid 1px #fff;
  padding-left: 0;
  padding-right: 10px;
}

.user-info ul li a {
  text-decoration: none;
  color: #fff;
}